CompileFlags:
  Add:
    - "-I C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v13.1/include"
    - "-I include/vortex"
    - "-I include/vortex/public"
    - "--cuda-path=C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v13.1"
    - "-xcuda"
    - "--no-cuda-version-check"
  Remove:
    - "-nocudainc"
    - "-nocudalib"
